@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Yanone+Kaffeesatz&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    border-width: 6px;
}
header {
    background-color: #4F5660;
    height: 70px;
    padding: 27px;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
    color: inherit;
}
#h1 {
    color: #ffffff;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: none;
    font-size: 100px;
}
h2 {
    color: #ffffff;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 40px;
}
body {
    background-color: #2F3136;
}
.flex {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1440px;
}
.searchbar {
    background-color: #c4c4c4;
    border-radius: 10px 10px 10px 10px;
    margin-left: 38px;
}
#barra_pesquisa {
    background-color: #c4c4c4;
    border: none;
    width: 589px;
    height: 30px;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
}
#barra_pesquisa::placeholder {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}
#barra_pesquisa:focus {
    outline: none;
}
.link_pe {
    font-family: 'Raleway', sans-serif;
    margin: 0 60px 0;
}
.link_pe:hover {
    transition-duration: 500ms;
    color: #c4c4c4;
}
.links_pe {
    display: none;
    margin: 0 20px 0;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 100;
}
.link_cabecalho {
    font-family: 'Raleway', sans-serif;
    margin: 0 60px 0;
}
.link_cabecalho:hover {
    transition-duration: 500ms;
    color: #c4c4c4;
}
.fa-solid {
    margin-left: 10px;
}
.links_cabecalho {
    margin: 0 20px 0;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 600;
}
.c-carousel__slides {
    margin-top: 34px;
    height: 550px;
    width: 130%;
}
.c-carousel__slide {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    height: 474px;
}
.c-carousel__slide>a {
    text-align: center;
    width: 100%;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
.foto_carroça {
    height: 474px;
    width: 100%;
}
.img_carroca {
    height: 474px;
    width: 100px;
}
#glider>article {
    margin: 100px 10px;
}
.principal {
    margin: 2px 20px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("img/Curiosidade\ elden\ ring.jpg");
}
.principal2 {
    margin: 2px 20px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("img/guardioes-da-galaxia.jpg");
}
.principal3 {
    margin: 2px 20px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("img/ps5exbox.jpg");
}
.principal4 {
    margin: 2px 20px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("img/Batman.png");
}
#txt_destaque {
    display: flex;
    justify-content: center;
    font-weight: 100;
    margin-top: 34px;
}
.principal {
    transition: transform 1s;
    transform: translateX(0) scale(1);
}
.principal:hover, .principal:focus {
    transform: translateX(5px) scale(1.1);
}
.principal2 {
    transition: transform 1s;
    transform: translateX(0) scale(1);
}
.principal2:hover, .principal2:focus {
    transform: translateX(5px) scale(1.1);
}
.principal3 {
    transition: transform 1s;
    transform: translateX(0) scale(1);
}
.principal3:hover, .principal3:focus {
    transform: translateX(5px) scale(1.1);
}
.principal4 {
    transition: transform 1s;
    transform: translateX(0) scale(1);
}
.principal4:hover, .principal4:focus {
    transform: translateX(5px) scale(1.1);
}
.js-carousel--simple-next {
    border: none;
    background: none;
    font-size: 50px;
}
.js-carousel--simple-prev {
    border: none;
    background: none;
    font-size: 50px;
}
#primeira_secao {
    margin-top: 46px;
    flex-direction: column;
}
#segunda_secao {
    flex-direction: column;
}
#secao_melhor {
    margin-top: 46px;
}
#primeira_secao>div>a>h2 {
    font-weight: 100;
    text-decoration: underline;
}
#segunda_secao>div>a>h2 {
    font-weight: 100;
    text-decoration: underline;
}
.estiloA {
    width: min-content;
}
.estiloB {
    width: 248px;
}
#lancamento {
    flex-wrap: nowrap;
}
.lancamentos1 {
    flex-wrap: wrap;
}
.jogosLancamento {
    margin: 30px 40px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 22px;
    justify-content: center;
}
.jogosLancamento>a>img {
    width: 360px;
    height: 170px;
    border: #000000;
    border-style: solid;
}
.jogosLancamento {
    transition: transform 1s;
    transform: translateX(0) scale(1);
}
.jogosLancamento:hover, .jogosLancamento:focus {
    transform: translateX(10px) scale(1.1);
}
.aArticle {
    height: 100%;
    align-items: flex-end;
}
#pagAtual {
    text-decoration: underline;
}
#obsNoti {
    color: #ffffff;
    font-size: 12px;
}
.jogosLancamento>a>div {
    max-width: 360px;
    text-align: center;
}
#branca {
    color: #504d4d;
}
.fa-star {
    color: gold;
}
.fa-star-half-stroke {
    color: gold;
}

@media screen and (max-width:1733px) {
  #barra_pesquisa {
      width: 300px;
  }
  .fa-solid{
    display: none;
  }
}
@media screen and (max-width:1680px) {
  .wrapper {
      margin: 0 auto;
      width: 90%;
      max-width: 1330px;
  }
  .link_cabecalho {
      margin: 0 30px;
  }
  .img_carroca {
      height: 424px;
      width: 100px;
  }
  .c-carousel__slides {
      margin-top: 34px;
      height: 500px;
      width: 100%;
  }
  .c-carousel__slide {
      display: flex;
      justify-content: center;
      align-content: flex-end;
      height: 424px;
  }
  #desgracadaMinhavida {
      margin: 0 auto;
  }
  .principal {
      margin: 2px 20px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-image: url("img/Curiosidade\ elden\ ring.jpg");
  }
  .principal2 {
      margin: 2px 20px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-image: url("img/guardioes-da-galaxia.jpg");
  }
  .principal3 {
      margin: 2px 20px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-image: url("img/ps5exbox.jpg");
  }
  .principal4 {
      margin: 2px 20px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-image: url("img/Batman.png");
  }
  .lancamentos1 {
      width: 0 100%;
  }
}
@media screen and (max-width:1510px) {
  #desgracadaMinhavida {
      margin: 0 auto;
  }
  .img_carroca {
      height: 400px;
      width: 85px;
  }
  .c-carousel__slides {
      margin-top: 34px;
      height: 500px;
      width: 90%;
  }
  .c-carousel__slide {
      display: flex;
      justify-content: center;
      align-content: flex-end;
      height: 424px;
  }
  .principal {
      margin: 2px 20px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-image: url("img/Curiosidade\ elden\ ring.jpg");
  }
  .principal2 {
      margin: 2px 20px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-image: url("img/guardioes-da-galaxia.jpg");
  }
  .principal3 {
      margin: 2px 20px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-image: url("img/ps5exbox.jpg");
  }
  .principal4 {
      margin: 2px 20px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-image: url("img/Batman.png");
  }
  .lancamentos1 {
      width: 0 100%;
  }
}
@media screen and (max-width:1467px) {
  #primeira_secao {
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
      width: 75%;
  }
  #segunda_secao {
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
      width: 75%;
  }
  .lancamentos1 {
      width: 0 100%;
      margin: 0 0;
  }
}
@media screen and (max-width:1174px) {
  header {
      width: 100%;
  }
  .searchbar {
      display: none;
  }
}
@media screen and (max-width:1174px) {
  #primeira_secao {
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
      width: 75%;
  }
  #segunda_secao {
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
      width: 75%;
  }
  .jogosLancamento>a>img {
      width: 300px;
      height: 170px;
      border: #000000;
      border-style: solid;
  }
  .lancamentos1 {
      width: 0 100%;
      margin: 0 0;
  }
}
@media screen and (max-width:1114px) {
  .lancamentos1>a>img {
      width: 100%;
      height: 100%;
      border: #000000;
      border-style: solid;
  }
  .lancamentos, .lancamentos1 {
      width: 100%;
  }
  #primeira_secao {
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
      width: 75%;
  }
  #segunda_secao {
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
      width: 75%;
  }
  .jogosLancamento {
      width: 100%;
  }
  .jogosLancamento>a>img {
      width: 100%;
      height: 100%;
      border: #000000;
      border-style: solid;
  }
}
@media screen and (max-width:800px) {
  .link_cabecalho {
      display: none;
  }
  #desgracadaMinhavida {
      display: none;
  }
  #h1{
    display: block;
    color: #ffffff;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: none;
    font-size: 20px;
  }
  #primeira_secao {
      margin-top: 80px;
  }
  .links_pe {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
  }
}
@media screen and (max-width:565px) {
  .wrapper {
    width: max-content;
  }
  .vapo {
      width: fit-content;
      display: flex;
      justify-content: center;
  }
}
@media screen and (max-width:565px) {
.links_pe{
  display: flex;
  flex-direction: column;
  width: 10%;
}
.link_pe{
  margin: 0 auto;
}
}
